header {
  text-align: center;
  background-color: #9a95ff;
  padding: 20px 0;
  /*위아래 여백*/
}

/*헤더 글꼴*/
header p#multipleStrings {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: white;
  font-style: normal;
}


/* Flex 사용 */
.search-container {
  display: flex;
  justify-content: center;
  /*수평 가운데 정렬*/
  margin-bottom: 20px;
}

/* Grid 사용 */
.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /*그리드 컨테이너의 열 크기 지정. 그리드 셀의 수 자동으로 조정, (셀의 최소크기, 최대 크기(가능한 늘리기))*/
  gap: 20px;
  /*그리드 셀 사이 간격*/
}

/* 카드 스타일 */
.movie-card {
  border: 1px solid #7169ff;
  border-radius: 8px;
  border-width: 5px;
  padding: 10px;
  background-color: #9a95ff;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card h3 {
  margin: 10px 0;
}

/* 알림 스타일 */
.alert {
  background-color: #9a95ff;
  color: #333;
  padding: 15px;
  border-radius: 8px;
  margin: 20px auto;
  width: fit-content;
  /*알림의 크기 너비에 맞게 자동 조절*/
}

.search-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.movie-container {
  margin-bottom: 30px;
  /* 카드들 아래에 간격 추가 */
}

/* 서치 버튼 스타일 */
#searchButton {
  background-color: #9a95ff;
  color: white;
  border-color: black;
  padding: 10px 20px;
  /* 내부 여백 */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 10px;
  /* 텍스트 박스와의 간격 */
}

/*텍스트박스 스타일*/
#searchInput {
  width: 300px;
  /* 텍스트 박스 너비 조절 */
  border-radius: 10px;
}

/* 서치 컨테이너 스타일 */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  /* 텍스트 박스와 서치 버튼 사이의 간격 */
}


footer {
  background-color: #9a95ff;
  /* 연노랑색 배경 */
  padding: 30px;
  text-align: right;
}


.footer-content {
  display: flex;
  justify-content: flex-end;
}

.footer-content a {
  margin-left: 10px;
}

.footer-img {
  width: 40px;
  border-radius: 50%;
  /* 모서리를 둥글게 함 */
}

/*선택 요구 사항*/
/*flex, grid 사용 O*/
/*순수 css 사용 O(부트스트랩, 테일윈드 미사용)*/